<div class="main users-index">
  <div class="container">
    <h1 class="users-heading">ãƒ¦ãƒ¼ã‚¶ãƒ¼</h1>
      <div class="form search-form">
        <%= form_tag(url_for(:action => 'search'), :remote => true) do %>
          <%= text_field_tag :search, '', id: 'search-form', placeholder: 'ðŸ”Search' %>
          <!-- <%= submit_tag 'Search', :name => nil %> -->
        <% end %>
      </div>
    <% @users.each do |user| %>
     <% if !(@current_user.name == user.name)%>
      <ul class="users-index-items" id="users-index-items">
            <li class="users-index-item">
                <div class="user-left">
                  <%= link_to(user.name,"/users/#{user.id}/detail") %>
                </div>
            
            <% unless @current_user.following.include?(user)%>
              



              <%= form_for(@current_user.active_relationships.build) do |f| %>
                <div class="follow"><%= hidden_field_tag :following_id, user.id %></div>
                <%= f.submit "Follow", class: "btn-flat-border" %>
              <% end %>


            <% else %>

            
              <%= form_for(@current_user.active_relationships.find_by(following_id: user.id), html: { method: :delete }) do |f| %>
                <div class="unfollow">
                    <%= f.submit "Unfollow", class: "btn-flat-border" %>
                </div>
              <% end %>
            

            <% end %>

            </li>
        </ul>
    <% end %>
    <% end %>
  </div>
</div>