<div class="main user-show">
  <div class="container">
    <div class="user-detail">
      <h2><%= @user.name%></h2>
      <p><%= @user.email%></p>
      <% @user ||= current_user %>
          <div class="stats">
            <a href="<%= following_user_path(@user) %>">
              <strong id="following" class="stat">
                <%= @user.following.count %>
              </strong>
              following
            </a>
            <a href="<%= followers_user_path(@user) %>">
              <strong id="followers" class="stat">
                <%= @user.followers.count %>
              </strong>
              followers
            </a>
          </div>
    </div>
  </div>
</div>