<div class="main post-index">
    <div class="container">
        <% @posts.each do |post|%>
            <div class="index-items">
                <div class="post-header">
                    <img src="<%= post.user.profile_image %>">
                </div>
                <div class="post-user">
                    <%= link_to(post.user.name, "/users/#{post.user.id}/detail") %>
                </div>
                <div class="post-body">
                    <img src="<%= post.image %>" class="posted-photo">
                </div>
                <div class="post-footer">
                    <%= post.content %>
                </div>
                <div class="post-created-time">
                    <%= post.created_at %>
                </div>
                <div class="post-menu">
                    <% if @current_user.id == post.user_id%>
                    <%= link_to("edit", "/posts/#{post.id}/edit") %>
                    <%= link_to("delete", "/posts/#{post.id}/delete", {method: "post"}) %>
                    <% end %>
                    <i class="far fa-comments fa-2x" id="<%= post.id%>"></i>
                    <strong><%= post.comments_count%></strong>
                        <% if Like.find_by(user_id: @current_user.id, post_id: post.id) %>
                            <%= link_to("/unlikes/#{post.id}/delete", {method: "post"}) do %>
                                <i class="fas fa-heart fa-2x"></i>
                            <% end %>
                        <% else %>
                            <%= link_to("/likes/#{post.id}/create", {method: "post"}) do %>
                                <i class="far fa-heart fa-2x"></i>
                            <% end %>
                        <% end %>
                        <strong><%= post.likes_count%></strong>
                </div>
                <div class="comments-<%= post.id%>">
                <% if post.comments_count > 0%>
                    <h6 class="show_comments_button" id="show_comments_<%= post.id%>">show comments</h6>
                <% end %>
                    <div class="comment-area" id="comment-area-<%= post.id%>">
                        <%= form_tag("/posts/#{post.id}/comment",  method: :post,  id: "new_comment_for_#{post.id}" ) do %>
                        <textarea name="content" class="comment" placeholder="コメントを入力してください"></textarea>
                        <input type="submit" value="Send">
                        <% end %>
                    </div>
                    <% @comments.each do |comment|%>
                        <div class="comment-container" id="actual_show_comments_<%= post.id%>">
                            <% if post.id == comment.post_id%> 
                                <div class="comment-header">
                                    <img src="<%= comment.user.profile_image %>">
                                </div>
                                <div class="comment-user">
                                    <%= link_to(comment.user.name, "/users/#{comment.user.id}/detail") %>
                                </div>
                                    <div class="actual-comment">
                                    <p><%= comment.content %></p>
                                    </div>
                                    <div class="comment-created-time">
                                        <%= comment.created_at %>
                                    </div>
                            <% end %>
                        </div>
                    <% end %>
                </div>
            </div>
        <% end %>
    </div>
 </div>
</div>

